* {
    margin: 0;
    padding: 0;
}

#myFile::-webkit-file-upload-button{
    visibility: hidden;
}

#myFile, input[type=button], #Color{
    width: 80%;
    height: 70px;
    text-align: center; 
    margin-bottom: 20px;
    font-size: 17px;
    border: 1px solid#000;
    Letter-spacing:2px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    color:#fff;
    transition: .5s all;
}

#myFile{
    width: 80%; 
    height: 55px;
    padding-top: 23px;
    
}

#myFile:hover, input[type=button]:hover, #Color:hover{ 
    cursor: pointer;
    background-color: #4287f5;
    
}

.wrapper {
    background: #161a1d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: url('img/custom-cursor.png'), auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
}

nav ul li h1{
    color: white;
    font-size: 75px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: relative;
    top: 0px;
    left: 0px;
    
    
}

h2{
    color: white;
    font-size: 50px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    position: absolute;
    top: 8px;
    left: 16px;
}

p.aa{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    position: absolute;
    list-style: none;
    text-align: left;
    line-height: 2;
    top: 100px;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
    display: flex;
    
}

p.ab{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    position: absolute;
    list-style: none;
    text-align: left;
    line-height: 2;
    top: 200px;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
    display: flex;
    
}

p.ac{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    position: absolute;
    list-style: none;
    text-align: left;
    line-height: 2;
    top: 300px;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
    display: flex;
    
}

p.ad{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    position: absolute;
    list-style: none;
    text-align: left;
    line-height: 2;
    top: 400px;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
    display: flex;
    
}

p.ae{
    color: white;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: Bold;
    position: relative;
    list-style: none;
    text-align: left;
    line-height: 2;
    left: -40px;
    top: 10px;
    align-items: center;
    justify-content: center;
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
    display: flex;
    
}

a.deneme{
  position: absolute;
  bottom: 8px;
  right: 16px;
  font-size: 18px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin: 32px 0;
  animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
  transform: translateY(-100px);
  opacity: 0;
  display: flex;
}

@keyframes fade-down {

	30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul li a {
    color: #cbf3f0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    top: 0px;
}

nav ul li a.oc {
    color: #cbf3f0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    top: 250px;
    
}

nav ul li a.occ {
    color: #cbf3f0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    left: 140px;
    top: -30px;
}


nav ul li a::after {
    content: "";
    width: 0;
    height: 8px;
    background: #fd3636;
    position: absolute;
    bottom: -8px;
    left: 0;
    transition: all 500ms;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    cursor: url('img/custom-cursor.png'), auto;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #eee;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 1000ms, height 1000ms;
}

.cursor.large {
    height: 70px;
    width: 70px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.containercd {
    font-family: "Roboto", sans-serif;
    background-color: #161a1d;
    background-position: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;

    cursor: url('img/custom-cursor.png'), auto;
}
  
.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.content{
    top:50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content h1{
    font-size: 64px;
    font-weight: 600;
}

.content span{
    color: #ff3753;
}
.content button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button img{
    width: 15px;
    margin-left: 10px;
}

.launch-time{
    display: flex;

}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}

@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}


























.card {
    width: 400px;
    height: 550px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #fff;
    background-color: #ceff89;
    border-color: #212529;
    border-radius: 10px;
  }
  /*Make Above Card responsive*/
  @media only screen and (max-width: 600px) {
    .card {
      width: 95%;
      
    }
  }

  body {
    background-color: #e66a6c;
  }
  h1 {
    /* animation: flicker 1.5s infinite alternate; */
    color:rgb(0, 0, 0);
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
  }

  @keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      text-shadow: 0 0 4px rgb(0, 0, 0), 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
        0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
    }
    20%,
    24%,
    55% {
      text-shadow: none;
    }
  }
input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  input[type="text"]:focus {
    border: 3px solid #555;
  }
input[type="file"]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color:#212529;
  }
  input[type="file"]:focus {
    border: 3px solid #555;
  }
  
/* download */

button{
    height: 63px;
    /* Rounded corner downloadbutton */
    border-radius: 10px;
    /* grey black background */
    background-color: #212529;
    /* white text */
    color: #fff;
    /* padding */
    padding: 10px 20px;
    /* text decoration none */
    text-decoration: none;
    /* font size */
    font-size: 20px;
    /* font family */
    font-family: "Open Sans", sans-serif;
    /* border none */
    border: none;
    /* cursor pointer */
    cursor: pointer;
    /* Center text and image */
    display: flex;
    justify-content: center;
    align-items: center;

}

#downimg{
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    transition: 0.5s;
    -webkit-user-drag: none;
}
#uping{
    background-color: #fff;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    border: 0px solid #fff;
    cursor: pointer;
    transition: 0.5s;
    /* avoid image draggable or selectable */
    -webkit-user-drag: none;
    user-select: none;

}


p{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    color: #212529;
    
    border-color: #212529;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    
    font-weight: 700;
}
#showunique{
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    color: #212529;
    background-color: #ceff89;
    border-color: #212529;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}
#showunique:hover{
    background-color: #212529;
    color: #ceff89;
    border-color: #212529;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
}
#ShowUniqueID{
    width:max-content;
    margin-top: 10px;
    text-align: center;
   
    
}
#footer{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #212529;
    /* background-color: #ceff89; */
    border-color: #212529;
    border-radius: 10px;
    /* padding: 5px 20px; */
    text-align: center;
    /* margin-top: 10px; */
}

#note{
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
    color: #212529;
    /* background-color: #ceff89; */
    border-color: #212529;
    border-radius: 10px;
    /* padding: 10px 20px; */
    text-align: center;
    /* margin-top: 20px; */
  
}
