body{ overflow: hidden;}
* {
    margin: 0;
    padding: 0;
    
}

nav ul li h1 {
    font-family: "Roboto", sans-serif;
    background: #161a1d;
    font-size: 70px;
    font-weight: bold;
    color:white;
}

nav ul li h2 {
    font-family: "Roboto", sans-serif;
    background: #161a1d;
    font-size: 70px;
    font-weight: bold;
    color:white;
    transform: translateX(-670px);
    height: 90vh;
    
}

nav ul li1 a {
    font-family: "Roboto", sans-serif;
    background: #161a1d;
    font-size: 20px;
    font-weight: Normal;
    color:white;
    transform: translateY(-1000px);
    zoom: 80%;

    
}

nav ul li1 h2 {
    font-family: "Roboto", sans-serif;
    background: #161a1d;
    font-size: 70px;
    font-weight: bold;
    color:white;
    transform: translateX(-670px);
    height: 90vh;
    
}

.wrapper {
    background: #161a1d;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: url('img/custom-cursor.png'), auto;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
}

nav ul li1 {
    margin: 32px 0;
    animation: fade-down 2000ms forwards cubic-bezier(0.43, 0.53, 0.5, 1.02);
    transform: translateY(-100px);
    opacity: 0;
}

@keyframes fade-down {

	30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul li a {
    color: #cbf3f0;
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 8px;
    top: 20;
    bottom: 600px;
    left: 126px;
    font-size: 18px;
    position: absolute;

}

img {
    border-radius: 75%;
}


nav ul li a::after {
    content: "";
    width: 0;
    height: 8px;
    background: #f94144;
    position: absolute;
    bottom: -8x;
    left: 0;
    transition: all 500ms;
}

nav ul li a:hover::after {
    width: 100%;
}

nav ul li a:hover {
    cursor: url('img/custom-cursor.png'), auto;
}

.cursor {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #eee;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 1000ms, height 1000ms;
}

.cursor.large {
    height: 70px;
    width: 70px;
}

.WebContainer{
    width: 100%;
    height: auto;
}
.articles{
    width:90%; /*Takes 90% width from WebContainer*/
    height: auto;
    margin: auto;
}